.form-column {
    display: flex;
    flex-direction: column; 
}

.label-column {
    padding-top: 14px;
    padding-bottom: 5px;
}

li {
    list-style-type: none;
}

input {
    padding: 4px;
    border-style: solid;
    font-size: 16px;
    border-color: rgb(173, 173, 173);
    border-radius: 5px; 
    border-width: 1px; 
}

select{
    padding: 5px;
    padding-left: 10px;
    border-style: solid;
    font-size: 16px;
    border-color: rgb(173, 173, 173);
    border-radius: 5px; 
    border-width: 1px;
}

.button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgb(61, 162, 78);
    border-width: 0px; 
    height: 40px;
    font-size: 13px;
}